* {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow: hidden;
  /* background-color: aqua; */
}

.blue-box-shadow {
  box-shadow: inset -5px -5px 10px #0d1518, inset 5px 5px 10px #73c1ef;
}
#app {
  width: 100vw;
  height: 100vh;
}