.FloatPane {
  // position: absolute;
  width: 300px;
  right: 30px;
  margin-left: 16px;
  padding-top: 24px;

  .contaner {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .btnGroup {
    width: 160px;
  }
}

.section{
  width: 300px;
}